services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  PhpList\Core\Domain\Messaging\Service\Builder\MessageBuilder:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Builder\MessageFormatBuilder:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Builder\MessageScheduleBuilder:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Builder\MessageContentBuilder:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Builder\MessageOptionsBuilder:
    autowire: true
    autoconfigure: true

  # Concrete mail constructors
  PhpList\Core\Domain\Messaging\Service\Constructor\SystemMailConstructor: ~
  PhpList\Core\Domain\Messaging\Service\Constructor\CampaignMailConstructor: ~

  # Two EmailBuilder services with different constructors injected
  Core.EmailBuilder.system:
    class: PhpList\Core\Domain\Messaging\Service\Builder\EmailBuilder
    arguments:
      $mailConstructor: '@PhpList\Core\Domain\Messaging\Service\Constructor\SystemMailConstructor'
      $googleSenderId: '%messaging.google_sender_id%'
      $useAmazonSes: '%messaging.use_amazon_ses%'
      $usePrecedenceHeader: '%messaging.use_precedence_header%'
      $devVersion: '%app.dev_version%'
      $devEmail: '%app.dev_email%'

  Core.EmailBuilder.campaign:
    class: PhpList\Core\Domain\Messaging\Service\Builder\EmailBuilder
    arguments:
      $mailConstructor: '@PhpList\Core\Domain\Messaging\Service\Constructor\CampaignMailConstructor'
      $googleSenderId: '%messaging.google_sender_id%'
      $useAmazonSes: '%messaging.use_amazon_ses%'
      $usePrecedenceHeader: '%messaging.use_precedence_header%'
      $devVersion: '%app.dev_version%'
      $devEmail: '%app.dev_email%'
