services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  PhpList\Core\Domain\:
    resource: '../../src/Domain/*/Service/Builder/*'

  # Concrete mail constructors
  PhpList\Core\Domain\Messaging\Service\Constructor\SystemMailContentBuilder: ~
  PhpList\Core\Domain\Messaging\Service\Constructor\CampaignMailContentBuilder: ~

  # Two EmailBuilder services with different constructors injected
  PhpList\Core\Domain\Messaging\Service\Builder\SystemEmailBuilder:
    arguments:
      $googleSenderId: '%messaging.google_sender_id%'
      $useAmazonSes: '%messaging.use_amazon_ses%'
      $usePrecedenceHeader: '%messaging.use_precedence_header%'
      $devVersion: '%app.dev_version%'
      $devEmail: '%app.dev_email%'

  PhpList\Core\Domain\Messaging\Service\Builder\EmailBuilder:
    arguments:
      $googleSenderId: '%messaging.google_sender_id%'
      $useAmazonSes: '%messaging.use_amazon_ses%'
      $usePrecedenceHeader: '%messaging.use_precedence_header%'
      $devVersion: '%app.dev_version%'
      $devEmail: '%app.dev_email%'
