services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  PhpList\Core\Domain\:
    resource: '../../src/Domain/*/Service/Manager/*'
    exclude: '../../src/Domain/*/Service/Manager/Builder/*'

  PhpList\Core\Bounce\Service\Manager\BounceManager: ~

  Doctrine\DBAL\Schema\AbstractSchemaManager:
    factory: ['@doctrine.dbal.default_connection', 'createSchemaManager']

  PhpList\Core\Domain\Subscription\Service\Manager\DynamicListAttrTablesManager:
    autowire: true
    autoconfigure: true
    public: true
    arguments:
      $dbPrefix: '%database_prefix%'
      $dynamicListTablePrefix: '%list_table_prefix%'
