services:
    PhpList\Core\Domain\Repository\Identity\AdministratorRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Identity\Administrator
            - Doctrine\ORM\Mapping\ClassMetadata\ClassMetadata
            - PhpList\Core\Security\HashGenerator

    PhpList\Core\Domain\Repository\Identity\AdministratorTokenRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Identity\AdministratorToken

    PhpList\Core\Domain\Repository\Subscription\SubscriberListRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\SubscriberList

    PhpList\Core\Domain\Repository\Subscription\SubscriberRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\Subscriber

    PhpList\Core\Domain\Repository\Subscription\SubscriberAttributeValueRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\SubscriberAttributeValue

    PhpList\Core\Domain\Repository\Subscription\SubscriberAttributeDefinitionRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\SubscriberAttributeDefinition

    PhpList\Core\Domain\Repository\Subscription\SubscriptionRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\Subscription

    PhpList\Core\Domain\Repository\Messaging\MessageRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Messaging\Message

    PhpList\Core\Domain\Repository\Messaging\TemplateRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Messaging\Template

    PhpList\Core\Domain\Repository\Messaging\TemplateImageRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Messaging\TemplateImage
