services:
    PhpList\Core\Domain\Subscription\Service\SubscriberCsvExporter:
        autowire: true
        autoconfigure: true
        public: true

    PhpList\Core\Domain\Subscription\Service\SubscriberCsvImporter:
        autowire: true
        autoconfigure: true
        public: true

    PhpList\Core\Domain\Messaging\Service\EmailService:
        autowire: true
        autoconfigure: true
        arguments:
            $defaultFromEmail: '%app.mailer_from%'
            $bounceEmail: '%imap_bounce.email%'

    PhpList\Core\Domain\Subscription\Service\SubscriberDeletionService:
        autowire: true
        autoconfigure: true
        public: true

    PhpList\Core\Domain\Messaging\Service\MessageProcessingPreparator:
        autowire: true
        autoconfigure: true
        public: true

    PhpList\Core\Domain\Analytics\Service\LinkTrackService:
        autowire: true
        autoconfigure: true
        public: true

    PhpList\Core\Domain\Messaging\Service\Processor\CampaignProcessor:
        autowire: true
        autoconfigure: true
        public: true

    PhpList\Core\Domain\Common\ClientIpResolver:
        autowire: true
        autoconfigure: true

    PhpList\Core\Domain\Common\SystemInfoCollector:
      autowire: true
      autoconfigure: true

    PhpList\Core\Domain\Messaging\Service\ConsecutiveBounceHandler: ~

    PhpList\Core\Domain\Common\Mail\MailReaderInterface: '@PhpList\Core\Domain\Common\Mail\NativeImapMailReader'

    Webklex\PHPIMAP\ClientManager: ~

    PhpList\Core\Domain\Common\Mail\WebklexMailReader:
      arguments:
        $cm: '@Webklex\PHPIMAP\ClientManager'
        $config:
          host: '%imap_bounce.host%'
          port: '%imap_bounce.port%'
          encryption: '%imap_bounce.encryption%'
          validate_cert: true
          username: '%imap_bounce.email%'
          password: '%imap_bounce.password%'
          protocol: 'imap'

    PhpList\Core\Domain\Common\Mail\NativeImapMailReader:
      arguments:
        $mailbox: '%env(IMAP_MAILBOX)%' #  e.g. "{imap.example.com:993/imap/ssl}INBOX" or "/var/mail/user"
        $user: '%imap_bounce.email%'
        $pass: '%imap_bounce.password%'
