# This file is the Symfony Messenger configuration for asynchronous processing
framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        # failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            sync: 'sync://'
            async_email:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    auto_setup: true
                    use_notify: true
                    check_delayed_interval: 60000
                retry_strategy:
                    max_retries: 3
                    # milliseconds delay
                    delay: 1000
                    multiplier: 2
                    max_delay: 0

            # failed: 'doctrine://default?queue_name=failed'

        routing:
            # Route your messages to the transports
            'PhpList\Core\Domain\Messaging\Message\AsyncEmailMessage': async_email
            'PhpList\Core\Domain\Messaging\Message\SubscriberConfirmationMessage': async_email
            'PhpList\Core\Domain\Messaging\Message\SubscriptionConfirmationMessage': async_email
            'PhpList\Core\Domain\Messaging\Message\PasswordResetMessage': async_email
            'PhpList\Core\Domain\Messaging\Message\CampaignProcessorMessage': async_email
