# This file is a "template" of what your .env file should look like.
# Set variables here that may be different on each deployment target of the app,
# e.g. development, staging, production.
#
# On `composer install`/`composer update`, this file is copied to `.env` (unless
# it already exists) and PHPLIST_SECRET is replaced with a freshly generated value.
#
# https://symfony.com/doc/current/configuration.html#configuring-environment-variables-in-env-files

PHPLIST_DATABASE_DRIVER=pdo_mysql
PHPLIST_DATABASE_PATH=
PHPLIST_DATABASE_HOST=127.0.0.1
PHPLIST_DATABASE_PORT=3306
PHPLIST_DATABASE_NAME=phplistdb
PHPLIST_DATABASE_USER=phplist
PHPLIST_DATABASE_PASSWORD=phplist
DATABASE_PREFIX=phplist_
LIST_TABLE_PREFIX=listattr_
PHPLIST_ADMIN_PASSWORD=admin

APP_DEV_VERSION=0
APP_DEV_EMAIL=dev@dev.com
APP_POWERED_BY_PHPLIST=0
PREFERENCEPAGE_SHOW_PRIVATE_LISTS=0

API_BASE_URL=http://api.phplist.local/
FRONT_END_BASE_URL=http://frontend.phplist.local

PARALLER_USE_WITH_PHPLIST3=0

# Email configuration
MAILER_FROM=noreply@phplist.com
MAILER_DSN=null://null
CONFIRMATION_URL=http://api.phplist.local/api/v2/subscriber/confirm/
SUBSCRIPTION_CONFIRMATION_URL=http://api.phplist.local/api/v2/subscription/confirm/
PASSWORD_RESET_URL=https://example.com/reset/
SHOW_UNSUBSCRIBELINK=1

# Bounce email settings
BOUNCE_EMAIL=bounce@phplist.com
BOUNCE_IMAP_PASS=bounce@phplist.com
BOUNCE_IMAP_HOST=imap.phplist.com
BOUNCE_IMAP_PORT=993
BOUNCE_IMAP_ENCRYPTION=ssl
BOUNCE_IMAP_MAILBOX=/var/spool/mail/bounces
BOUNCE_IMAP_MAILBOX_NAME=INBOX,ONE_MORE
BOUNCE_IMAP_PROTOCOL=imap
BOUNCE_IMAP_UNSUBSCRIBE_THRESHOLD=5
BOUNCE_IMAP_BLACKLIST_THRESHOLD=3
BOUNCE_IMAP_PURGE=0
BOUNCE_IMAP_PURGE_UNPROCESSED=0

# Messenger configuration for asynchronous processing
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=true

# A secret key that's used to generate certain security-related tokens
PHPLIST_SECRET=%s
VERIFY_SSL=1

APP_PHPLIST_ISP_CONF_PATH=/etc/phplist.conf

# Message sending
MAILQUEUE_BATCH_SIZE=5
MAILQUEUE_BATCH_PERIOD=5
MAILQUEUE_THROTTLE=5
MESSAGING_MAX_PROCESS_TIME=600
MAX_MAILSIZE=209715200
DEFAULT_MESSAGEAGE=691200
USE_MANUAL_TEXT_PART=0
MESSAGING_BLACKLIST_GRACE_TIME=600
GOOGLE_SENDERID=
USE_AMAZONSES=0
USE_PRECEDENCE_HEADER=0
EMBEDEXTERNALIMAGES=0
EMBEDUPLOADIMAGES=0
EXTERNALIMAGE_MAXAGE=0
EXTERNALIMAGE_TIMEOUT=30
EXTERNALIMAGE_MAXSIZE=204800
FORWARD_ALTERNATIVE_CONTENT=0
EMAILTEXTCREDITS=0
ALWAYS_ADD_USERTRACK=1
SEND_LISTADMIN_COPY=0

FORWARD_EMAIL_PERIOD="1 minute"
FORWARD_EMAIL_COUNT=1
FORWARD_PERSONAL_NOTE_SIZE=0
FORWARD_FRIEND_COUNT_ATTRIBUTE=
KEEPFORWARDERATTRIBUTES=0

UPLOADIMAGES_DIR=uploadimages
PHPLIST_UPLOADS_MAX_SIZE=5M

PUBLIC_SCHEMA=https
PHPLIST_ATTACHMENT_DOWNLOAD_URL=https://example.com/download/
PHPLIST_ATTACHMENT_REPOSITORY_PATH=/tmp
MAX_AVATAR_SIZE=100000
