<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="PhpList\PhpList4\Core\ApplicationKernel"/>
    </php>
    <testsuites>
        <testsuite name="PHPListCore">
            <directory>tests/Unit</directory>
            <directory>tests/Integration</directory>
            <directory>tests/System</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/TestingSupport</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
