<phpunit colors='true' bootstrap='./tests/phpunit-bootstrap.php'>
    <testsuites>
        <testsuite name='Primary'>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Constants -->
        <const name='API_LOGIN_USERNAME' value='admin'/>
        <const name='API_LOGIN_PASSWORD' value='phplist'/>
        <!-- Absolute path to system's temporary directory -->
        <const name='TMP_PATH' value='/tmp'/>
        <!-- Name of the folder housing phpList -->
        <const name='PAGE_ROOT' value='/lists'/>
        <!-- Name of the admin directory -->
        <const name='ADMIN_PATH' value='/admin'/>

        <!-- Variables -->
        <var name="DB_HOST" value="localhost" />
        <var name="DB_PORT" value="3306" />
        // !! Change these vars to fit your local config !!

        // Database configuration
        <var name="DB_NAME" value="pl" />
        <var name="DB_USER" value="pl" />
        <var name="DB_PASSWD" value="pl" />

        // Admin user credentials
        <var name="admin_username" value="admin" />
        <var name="admin_password" value="phplist" />

        // Other configuration parameters
        <const name='API_URL_BASE_PATH' value='http://path-to-phplist.local'/>
    </php>
</phpunit>
