imports:
    - { resource: services.yml }
    - { resource: doctrine.yml }
    - { resource: doctrine_migrations.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi: ~
    #translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation:
        enable_attributes: true
        email_validation_mode: html5
    #serializer: { enable_annotations: true }
    #templating:
        #engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    handle_all_throwables: true
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.application_dir%/var/sessions/%kernel.environment%'
        cookie_secure: auto
        cookie_samesite: lax
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true
    serializer:
        enabled: true
        enable_attributes: true
