# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
#
# These variables are read from environment variables using the "env" construct.
# You can set environment variables in the Apache host configuration and also on the command line.
# If you cannot provide any environment variables, you can also set the variables in this file
# in the lines with "env(VARIABLE_NAME)".
parameters:
    database_driver: '%%env(PHPLIST_DATABASE_DRIVER)%%'
    env(PHPLIST_DATABASE_DRIVER): 'pdo_mysql'
    database_path: '%%env(PHPLIST_DATABASE_PATH)%%'
    env(PHPLIST_DATABASE_PATH): null
    database_host: '%%env(PHPLIST_DATABASE_HOST)%%'
    env(PHPLIST_DATABASE_HOST): '127.0.0.1'
    database_port: '%%env(PHPLIST_DATABASE_PORT)%%'
    env(PHPLIST_DATABASE_PORT): '3306'
    database_name: '%%env(PHPLIST_DATABASE_NAME)%%'
    env(PHPLIST_DATABASE_NAME): 'phplistdb'
    database_user: '%%env(PHPLIST_DATABASE_USER)%%'
    env(PHPLIST_DATABASE_USER): 'phplist'
    database_password: '%%env(PHPLIST_DATABASE_PASSWORD)%%'
    env(PHPLIST_DATABASE_PASSWORD): 'phplist'

    # Email configuration
    app.mailer_from: '%%env(MAILER_FROM)%%'
    env(MAILER_FROM): 'noreply@phplist.com'
    app.mailer_dsn: '%%env(MAILER_DSN)%%'
    env(MAILER_DSN): 'null://null'
    app.confirmation_url: '%%env(CONFIRMATION_URL)%%'
    env(CONFIRMATION_URL): 'https://example.com/confirm/'
    app.password_reset_url: '%%env(PASSWORD_RESET_URL)%%'
    env(PASSWORD_RESET_URL): 'https://example.com/reset/'

    # Messenger configuration for asynchronous processing
    app.messenger_transport_dsn: '%%env(MESSENGER_TRANSPORT_DSN)%%'
    env(MESSENGER_TRANSPORT_DSN): 'doctrine://default?auto_setup=true'

    # A secret key that's used to generate certain security-related tokens
    secret: '%%env(PHPLIST_SECRET)%%'
    env(PHPLIST_SECRET): %1$s

    graylog_host: 'graylog.example.com'
    graylog_port: 12201
