# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
#
# These variables are read from environment variables using the "env" construct.
# You can set environment variables in the Apache host configuration and also on the command line.
# If you cannot provide any environment variables, you can also set the variables in this file
# in the lines with "env(VARIABLE_NAME)".
parameters:
    database_driver: '%%env(PHPLIST_DATABASE_DRIVER)%%'
    env(PHPLIST_DATABASE_DRIVER): 'pdo_mysql'
    database_path: '%%env(PHPLIST_DATABASE_PATH)%%'
    env(PHPLIST_DATABASE_PATH): null
    database_host: '%%env(PHPLIST_DATABASE_HOST)%%'
    env(PHPLIST_DATABASE_HOST): '127.0.0.1'
    database_port: '%%env(PHPLIST_DATABASE_PORT)%%'
    env(PHPLIST_DATABASE_PORT): '3306'
    database_name: '%%env(PHPLIST_DATABASE_NAME)%%'
    env(PHPLIST_DATABASE_NAME): 'phplistdb'
    database_user: '%%env(PHPLIST_DATABASE_USER)%%'
    env(PHPLIST_DATABASE_USER): 'phplist'
    database_password: '%%env(PHPLIST_DATABASE_PASSWORD)%%'
    env(PHPLIST_DATABASE_PASSWORD): 'phplist'
    database_prefix: '%%env(DATABASE_PREFIX)%%'
    env(DATABASE_PREFIX): 'phplist_'
    list_table_prefix: '%%env(LIST_TABLE_PREFIX)%%'
    env(LIST_TABLE_PREFIX): 'listattr_'
    app.dev_version: '%%env(APP_DEV_VERSION)%%'
    env(APP_DEV_VERSION): 0
    app.dev_email: '%%env(APP_DEV_EMAIL)%%'
    env(APP_DEV_EMAIL): 'dev@dev.com'
    app.powered_by_phplist: '%%env(APP_POWERED_BY_PHPLIST)%%'
    env(APP_POWERED_BY_PHPLIST): 0

    # Email configuration
    app.mailer_from: '%%env(MAILER_FROM)%%'
    env(MAILER_FROM): 'noreply@phplist.com'
    app.mailer_dsn: '%%env(MAILER_DSN)%%'
    env(MAILER_DSN): 'null://null' # set local_domain on transport
    app.confirmation_url: '%%env(CONFIRMATION_URL)%%'
    env(CONFIRMATION_URL): 'https://example.com/subscriber/confirm/'
    app.subscription_confirmation_url: '%%env(SUBSCRIPTION_CONFIRMATION_URL)%%'
    env(SUBSCRIPTION_CONFIRMATION_URL): 'https://example.com/subscription/confirm/'
    app.password_reset_url: '%%env(PASSWORD_RESET_URL)%%'
    env(PASSWORD_RESET_URL): 'https://example.com/reset/'

    # bounce email settings
    imap_bounce.email: '%%env(BOUNCE_EMAIL)%%'
    env(BOUNCE_EMAIL): 'bounce@phplist.com'
    imap_bounce.password: '%%env(BOUNCE_IMAP_PASS)%%'
    env(BOUNCE_IMAP_PASS): 'bounce@phplist.com'
    imap_bounce.host: '%%env(BOUNCE_IMAP_HOST)%%'
    env(BOUNCE_IMAP_HOST): 'imap.phplist.com'
    imap_bounce.port: '%%env(BOUNCE_IMAP_PORT)%%'
    env(BOUNCE_IMAP_PORT): '993'
    imap_bounce.encryption: '%%env(BOUNCE_IMAP_ENCRYPTION)%%'
    env(BOUNCE_IMAP_ENCRYPTION): 'ssl'
    imap_bounce.mailbox: '%%env(BOUNCE_IMAP_MAILBOX)%%'
    env(BOUNCE_IMAP_MAILBOX): '/var/spool/mail/bounces'
    imap_bounce.mailbox_name: '%%env(BOUNCE_IMAP_MAILBOX_NAME)%%'
    env(BOUNCE_IMAP_MAILBOX_NAME): 'INBOX,ONE_MORE'
    imap_bounce.protocol: '%%env(BOUNCE_IMAP_PROTOCOL)%%'
    env(BOUNCE_IMAP_PROTOCOL): 'imap'
    imap_bounce.unsubscribe_threshold: '%%env(BOUNCE_IMAP_UNSUBSCRIBE_THRESHOLD)%%'
    env(BOUNCE_IMAP_UNSUBSCRIBE_THRESHOLD): '5'
    imap_bounce.blacklist_threshold: '%%env(BOUNCE_IMAP_BLACKLIST_THRESHOLD)%%'
    env(BOUNCE_IMAP_BLACKLIST_THRESHOLD): '3'
    imap_bounce.purge: '%%env(BOUNCE_IMAP_PURGE)%%'
    env(BOUNCE_IMAP_PURGE): '0'
    imap_bounce.purge_unprocessed: '%%env(BOUNCE_IMAP_PURGE_UNPROCESSED)%%'
    env(BOUNCE_IMAP_PURGE_UNPROCESSED): '0'

    # Messenger configuration for asynchronous processing
    app.messenger_transport_dsn: '%%env(MESSENGER_TRANSPORT_DSN)%%'
    env(MESSENGER_TRANSPORT_DSN): 'doctrine://default?auto_setup=true'

    # A secret key that's used to generate certain security-related tokens
    secret: '%%env(PHPLIST_SECRET)%%'
    env(PHPLIST_SECRET): %1$s

    graylog_host: 'graylog.example.com'
    graylog_port: 12201

    app.phplist_isp_conf_path: '%%env(APP_PHPLIST_ISP_CONF_PATH)%%'
    env(APP_PHPLIST_ISP_CONF_PATH): '/etc/phplist.conf'

    # Message sending
    messaging.mail_queue_batch_size: '%%env(MAILQUEUE_BATCH_SIZE)%%'
    env(MAILQUEUE_BATCH_SIZE): '5'
    messaging.mail_queue_period: '%%env(MAILQUEUE_BATCH_PERIOD)%%'
    env(MAILQUEUE_BATCH_PERIOD): '5'
    messaging.mail_queue_throttle: '%%env(MAILQUEUE_THROTTLE)%%'
    env(MAILQUEUE_THROTTLE): '5'
    messaging.max_process_time: '%%env(MESSAGING_MAX_PROCESS_TIME)%%'
    env(MESSAGING_MAX_PROCESS_TIME): '600'
    messaging.max_mail_size: '%%env(MAX_MAILSIZE)%%'
    env(MAX_MAILSIZE): '209715200'
    messaging.default_message_age: '%%env(DEFAULT_MESSAGEAGE)%%'
    env(DEFAULT_MESSAGEAGE): '691200'
    messaging.use_manual_text_part: '%%env(USE_MANUAL_TEXT_PART)%%'
    env(USE_MANUAL_TEXT_PART): 0
    messaging.blacklist_grace_time: '%%env(MESSAGING_BLACKLIST_GRACE_TIME)%%'
    env(MESSAGING_BLACKLIST_GRACE_TIME):
    messaging.google_sender_id: '%%env(GOOGLE_SENDERID)%%'
    env(GOOGLE_SENDERID): ''
    messaging.use_amazon_ses: '%%env(USE_AMAZONSES)%%'
    env(USE_AMAZONSES): 0
    messaging.embed_external_images: '%%env(EMBEDEXTERNALIMAGES)%%'
    env(EMBEDEXTERNALIMAGES): 0

    phplist.upload_images_dir: '%%env(PHPLIST_UPLOADIMAGES_DIR)%%'
    env(PHPLIST_UPLOADIMAGES_DIR): 'images'
    phplist.public_schema: '%%env(PUBLIC_SCHEMA)%%'
    env(PUBLIC_SCHEMA): 'http'
