services:
    PhpList\Core\Domain\Repository\Identity\AdministratorRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Identity\Administrator

    PhpList\Core\Domain\Repository\Identity\AdministratorTokenRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Identity\AdministratorToken

    PhpList\Core\Domain\Repository\Messaging\SubscriberListRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Messaging\SubscriberList

    PhpList\Core\Domain\Repository\Messaging\TemplateRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Messaging\Template

    PhpList\Core\Domain\Repository\Subscription\SubscriberRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\Subscriber

    PhpList\Core\Domain\Repository\Subscription\SubscriptionRepository:
        parent: PhpList\Core\Domain\Repository
        arguments:
            - PhpList\Core\Domain\Model\Subscription\Subscription
